body {
    margin: 0;
    background-color: #e9e9e9;
    width: 100%;
}
title {
    font-family:'Nanum Gothic', 'Sans-Serif';
        font-size: 3em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    border: 1px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    background-color: #00afff;
    font-color: #e9e9e9;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Nanum Gothic', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    border: 1px
}

ul.posts { 
    margin: 0; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
